*{
    font-family: "Times New Roman";
}
p{
    text-align:start;
}
/* h1{
    text-align: center;
    text-decoration:red underline;
} */
 h1{
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    color:blue;
 }
   
#outer {
    font-size:25px;
    color:rgba(255, 0, 208, 0.99);

}
#inner {
    font-size:15px;
    color:red;

}