.table1 {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
    text-align: center;
}
.td1 {
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
    
    
}
.th1 {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    
} 
.editBtn {
    margin: 2px;
    background-color: brown;
    color: white;
}
.remove {
    background-color:red ;
    color: black;
    border: 1px solid white;
}